/* All items which are done can be greyed out for better visibility of remaining tasks */

.ghx-done {
	opacity: 0.3;
	-webkit-transition: 1.5s ease all;
	
	&:hover {
		opacity: 0.8;
	}
}

/* Make sure story points done badge doesn't become greyed out */

.aui-badge {
	.ghx-done { 
		opacity: 1 
	}
}