/* Move filters into the header */

#ghx-operations {
	display: inline-block;
	position: fixed;
	top: 51px;
	left: 50%;
	-webkit-transform: translateX(-50%);
}

/* Hide header collapse button, it is made somewhat redundant by other spacing improvements */

#ghx-modes-tools #ghx-view-presentation {
	display: none;
}