/* Colors */

$color-light-grey: rgb(204, 204, 204);
$color-red: rgb(234, 99, 43);
$color-golden: rgb(211, 156, 63);
$color-brown: rgb(129, 91, 58);
$color-muted-purple: rgb(172, 112, 122);
$color-deep-purple: rgb(101, 73, 130);
$color-muted-blue: rgb(74, 103, 133);
$color-light-green: rgb(142, 176, 33);